<table ng-app="examApp" ng-controller="ExamController as ctrl">
    <thead>
        <tr>
            <th>

            </th>
            <th ng-repeat="courses in ctrl.allCourses">
                {{courses.courseName}}
            </th>
            <th>Average</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="student in ctrl.students">
            <td>{{student.name}}</td>
            <td>{{student.grades[0].grade}}</td>
            <td>{{student.grades[1].grade}}</td>
            <td>{{student.grades[2].grade}}</td>
            <td>{{student.grades| ExamFilter}}</td>
        </tr>
    </tbody>
</table>